{{#each animals}}
  <div class="container-animals">
    <h1>{{this.animalname}}</h1>
    <div class="borda">
      <h2>Raça do animal: <span>{{this.race}}</span> </h2>
      <h5>Proprietário: <span>{{this.ownername}}</span></h5>
      <h5>Identificador: <span>{{this.idanimal}}</span></h5>
      <a href="/animals/{{this.idanimal}}" style="padding-bottom: 5px;">Ver mais</a>
    </div>

  </div>
{{/each}}