<div class="box-formulario">
  <div class="formulario">
    <div class="title-form">
      <h1>Exclua um animal</h1>
      {{#with animal}}
    </div>
    <form action="deleting/{{idanimal}}" method="post">
      <span>
        <input
          type="text"
          class="input-slide"
          name="animalname"
          placeholder="Animal"
          autocomplete="off"
          disabled=""
          required=""
          value="{{animalname}}"
        />
        <label for="animalname"></label>
      </span>
      <span>
        <input
          type="text"
          class="input-slide"
          name="raceanimal"
          placeholder="Raça"
          autocomplete="off"
          required=""
          disabled=""
          value="{{race}}"

        />
        <label for="raceanimal"> </label>
      </span>
      <span>
        <input
          type="text"
          class="input-slide"
          name="ownername"
          placeholder="Proprietário do animal"
          autocomplete="off"
          required=""
          value="{{ownername}}"
          disabled=""
        />
        <label for="ownername"> </label>
      </span>
      <span>
        <input
          type="text"
          class="textarea"
          name="description"
          value="{{descri}}"
          placeholder="Descrição do animal"
          disabled=""
        />
        <label for="description"> </label>
      </span>
      {{/with}}
      <div class="box-btn">

        <button type="submit" class="zoom-shadow excluiranimal">
          Excluir animal
        </button>
      </div>
    </form>
  </div>
</div><!--Box Formulario-->